@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto',sans-serif;
}
body{
  background-color: rgb(243, 235, 229);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
section{
  background-color:#fff ;
  padding: 10px;
  width: 450px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  animation: bottom 1s ease-in-out;
}
@keyframes bottom{
  0%{
    transform: translateY(-800px);
  }
  100%{
    transform: translateY(0);
  }
}
h1{
  text-align: center;
  margin: 10px;
}
.full_input{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input{
  width: 90%;
  padding: 10px 5px;
  height: 39px;
  border: 1px solid #b3b2b2;
  outline: 0;
  border-radius: 6px 0 0 6px ;
}
button{
  width: 10%;
  font-size: 20px;
  height: 39px;
  border: 0;
  background-color: rgb(0, 112, 184);
  color: #fff;
  border-radius: 0 6px 6px 0;
}
.paragraphe_style{
   margin: 10px 0;
   padding: 10px 0;
   padding-left: 5px;
   border-radius: 6px;
   color: #000;
   background-color: #699df0;
   cursor: pointer;
}
.paragraphe_style:last-child{
  margin-bottom: 0;
} 
@keyframes anime{
  from{
    transform: translateY(50px);
  } 
}
.paragraph_click{
  background-color: rgb(247, 118, 118) ;
  text-decoration: line-through;
  cursor: pointer;
}