@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto',sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color:rgb(243, 235, 229);
}
section{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 400px;
  background-color: #fff;
  padding: 20px;
  flex-direction: column;
  animation: left 1.3s ease-in-out;
}
@keyframes left{
  0%{
    transform: translateX(-800px);
  }
  100%{
    transform: translateX(0);
  }
}
img{
  width: 250px;
}
h4{
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
  font-size: 25px;
}
.search_bar{
display: flex;
width: 100%;
margin-bottom:10px ;
}
input{
  width: 75%;
  padding: 8px;
  outline: 0;
  border: 1px solid #999;
}
button{
  cursor: pointer;
  padding: 8px;
  background-color:rgb(0, 112, 184);
  color: #fff;
  border: 1px solid rgb(0, 112, 184);
  letter-spacing: 1px;
  transition: 0.5s;
}
button:hover{
 background-color: #1456a1;
}
#button_code_bar{
  width: 25%;
}
#box{
  border: 1px solid #999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#pdf_box button{ 
  width: 100%;
}
#pdf_box
.error{
  text-align: center;
  font-size: 14px;
  padding: 8px;
  width: 100%;
  background-color: rgb(189, 92, 92);
  color: #fff;
}