@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  background-color: rgb(243, 235, 229);
}
section{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  background-color: #fff;
  padding: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}
.choix{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.choix h4{
  display: flex;
  text-transform: uppercase;
  color: #999;

}
img{
  width: 50px;
  height: 50px;
  margin: 20px 0px; 
}  
button{
  padding: 5px 30px;
  margin-top: 20px;
  border: 1px solid rgb(0, 112, 184);
  background-color: rgb(0, 112, 184);
  color: #fff;
  cursor: pointer;
  border-radius: 6px;
}
button:focus{
  background: #fff;
  color: #132e9b;
}